/* Global Styles */

body {
    color: #f9f6f6 !important;
    background-color: #ffffff;
    overflow: hidden;
}

.f2X {
    font-size: 2em;
}


.head {
    color: #de0d0d;
    font-family: "Tagesschrift", system-ui;
}

.head img {
    width: 45px;
    height: 45px;
}



.layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.trans {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

/*
 font-family: "Tagesschrift", system-ui; 
 font-family: "Roboto", sans-serif;  
*/


/* ============================================= */
/* Sidebar Nav Section */

.sidebar-nav {
    min-height: 100vh;
}


/* Nav tabs */
.sidebar-nav .nav-tabs {
    background-color: #0D0D0D;
}

.sidebar-nav .nav-tabs li {
    font-size: 18px;
    cursor: pointer;
    position: relative;
    top: 0px;
}

.sidebar-nav .nav-tabs li:hover {
    color: #de0d0d;
    transition: all 0.5s;
}


/* Nav Header */
.sidebar-nav .nav-header {
    background-color: #0D0D0D;
    box-shadow: 0 0 3px 0 #706a6a;
}

.sidebar-nav .nav-header .logoDiv {
    background-color: #0D0D0D;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    background-image: url('../images/chef2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;

}

.sidebar-nav .nav-header .logoDiv:hover {
    background-image: url('../images/chef-red.png');
}

.sidebar-nav .nav-header .logo {
    padding-top: 15px;
    width: 40px;
}


.sidebar-nav .nav-header .iconClick {
    cursor: pointer;
}

.sidebar-nav i:hover {
    color: #de0d0d;
    transition: all 0.5s;
}

.sidebar-nav .nav-header .head-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
    cursor: pointer;

}

.sidebar-nav .nav-header .head-icon i {
    font-size: 20px;

}










/* ============================================= */
/* Hero Section */
.hero-sec {
    height: 100vh;
    /* width: 95vw; */
    background-color: antiquewhite;
    background-image: url('../images/mainHerobg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: "Tagesschrift", system-ui;
}

.hero-sec .words {
    text-transform: uppercase;
    text-align: center;

}

.hero-sec .words h1 {
    /* background-color: #f9f6f6;
    color: #e43c3c; */
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 3.1rem !important;
    width: 56%;
}

.hero-sec .words button {
    margin-top: 20px;
    color: #2C3133;
    font-size: 20px;
    transition: all 0.5s;
}

.hero-sec .words button:hover {
    background-color: #de0d0d;
    border: #de0d0d 1px solid;
    color: #f9f6f6;
}




/* ============================================= */
/* Meals Section */
.Allmeals-sec {
    margin-top: 50px;
}

.Allmeals-sec .meal {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #2C3133;
    cursor: pointer;
}


.Allmeals-sec .meal img {
    display: block;
    border-radius: 10px;

}


/* .Allmeals-sec .meal .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
} */



.Allmeals-sec .meal:hover .layer {
    top: 0%;
}

.Allmeals-sec .meal:hover {
    background-color: white;
}







/* ============================================= */
/* Search Page */

.search-page {
    min-height: 100vh;
    padding: 30px;
}

.search-page input {
    padding: 15px;
}

.search-page input:focus {
    border-color: #f36c6c !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(247, 140, 140, .25);
}

.search-page .meal {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #2C3133;
    cursor: pointer;
}


.search-page .meal img {
    display: block;
    border-radius: 10px;

}


.search-page .meal .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.5s;
    text-align: center;

}

.search-page .meal .layer h3 {
    font-family: "Tagesschrift", system-ui;
}


.search-page .meal:hover .layer {
    top: 0%;
}

.search-page .meal:hover {
    background-color: white;
}













/* ============================================= */
/* Categories Page */

.categories-page {
    font-family: "Tagesschrift", system-ui;
}



.categories-page .meal {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    padding: 20px 10px;
    border: 1px solid #cdc2c2;
    box-shadow: 0 0 4px 0 #cdc2c2;
}


.categories-page .meal img {
    display: block;
    border-radius: 10px;
    /* width: 150px;
    height: 200px;
    object-fit: cover; */

}


/* .categories-page .meal .layer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
} */



.categories-page .meal:hover .layer {
    top: 0%;
    cursor: pointer;
}

.categories-page .meal:hover {
    background-color: white;
}













/* ============================================= */
/* Categories Page */
.selected-categ .meal {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}


.selected-categ .meal img {
    display: block;
    border-radius: 10px;

}

.selected-categ .meal:hover .layer {
    top: 0%;
}

.selected-categ .meal:hover {
    background-color: white;
}












/* ============================================= */
/* oneMeal Page */
.oneMeal-page {
    font-family: "Roboto", sans-serif;
}


.oneMeal-page .recipeName {
    text-align: center;
    padding: 7px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    font-family: "Tagesschrift", system-ui;

}

.oneMeal-page .instructures,
.area h3 {
    font-family: "Tagesschrift", system-ui;

}

.oneMeal-page p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}


.oneMeal-page .recipe-details {
    border-bottom: 2px solid gray;
    padding-bottom: 15px;
}

.oneMeal-page .recipeName {
    font-family: "Tagesschrift", system-ui;
}

.oneMeal-page .category h3 {
    font-family: "Tagesschrift", system-ui;
}

.oneMeal-page .recipe-details span {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.oneMeal-page .btngroup {
    padding: 15px 0;
}

.oneMeal-page .btngroup .btn {
    width: 40%;
    margin-top: 15px;
    font-family: "Tagesschrift", system-ui;
    font-size: 18px;
    transition: all 0.5s;

}

.oneMeal-page .btngroup .you-btn:hover {
    border: red 1px solid !important;
    background-color: white;
    color: rgb(58, 55, 55);
}

.oneMeal-page .btngroup .src-btn:hover {
    border: green 1px solid !important;
    background-color: white;
    color: rgb(58, 55, 55);
    font-size: 18px;
}

.oneMeal-page .ingrediants-details {
    border-bottom: 2px solid gray;

}

.oneMeal-page .ingrediants-details .ingrediants {
    font-family: "Tagesschrift", system-ui;

}

.oneMeal-page .ingrediants-details li {
    border: 1px solid #0D0D0D;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.oneMeal-page .tags-details .tags {
    font-family: "Tagesschrift", system-ui;
}

.oneMeal-page .tags-details li {
    border: 1px solid #0D0D0D;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}










/* ============================================= */
/* Area Page */
.area-page {
    color: #0D0D0D;
}


.area-page .inner img {
    width: 125px;
    /* height: 90%; */
    /* border-radius: 50%; */
}

.area-page .country {
    border: 1px solid #eadada;
    box-shadow: 0 0 4px 0 #cdc2c2;
    padding: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.area-page .country img {
    width: 140px;
    height: 90px;
}





/* ============================================= */
/* Selected Area Page */
.selected-area .mealOne {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    /* padding: 3px; */
}


.selected-area .mealOne img {
    display: block;
    border-radius: 10px;

}

.selected-area .mealOne:hover .layer {
    top: 0%;
}

.selected-area .mealOne:hover {
    background-color: white;
}




/* ============================================= */
/* Ingrediants Page */

.ingrediants-page {
    color: #0D0D0D !important;
    text-align: center;
}


.ingrediants-page .ingred {
    border: 1px gray solid;
    padding: 0px 10px 10px 10px;
    border-radius: 19px;
    cursor: pointer;
}

.ingrediants-page .ingred img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.ingrediants-page .ingred .text {
    border-top: gray 1px solid;
    padding: 10px 10px 0;
}

.ingrediants-page .ingred h3 {
    margin: 5px 0;
    color: #de0d0d;
    font-family: "Tagesschrift", system-ui;
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
}





/* ============================================= */
/* Selected Ingrediant Page */
.selected-ingrediant .meal {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
}


.selected-ingrediant .meal img {
    display: block;
    border-radius: 10px;

}

.selected-ingrediant .meal:hover .layer {
    top: 0%;
}

.selected-ingrediant .meal:hover {
    background-color: white;
}







/* ============================================= */
/* Contact Us Page */

.contactUs-page {
    color: #302f2f;

}

.contactUs-page .container {
    font-family: "Roboto", sans-serif;
}

.contactUs-page input:focus {
    border-color: transparent !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(247, 140, 140, .25);
}

.contactUs-page .myBtn:hover {
    background-color: #f74949;
    border: 1px solid #f74949;
}
















/* ============================================= */
/* Loading Screen */
.loading {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1111110;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading.full {
    position: fixed;
    background-color: #362c2c; /* لون غامق ثابت */
    height: 100vh;
    width: 100vw;
}

.loader {
    position: relative;
    width: 48px;
    height: 48px;
    background: #de3500;
    transform: rotateX(65deg) rotate(45deg);
    color: #fff;
    animation: layers1 1s linear infinite alternate;
}

.loader:after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.7);
    animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
    0% {
        box-shadow: 0px 0px 0 0px
    }

    90%,
    100% {
        box-shadow: 20px 20px 0 -4px
    }
}

@keyframes layerTr {
    0% {
        transform: translate(0, 0) scale(1)
    }

    100% {
        transform: translate(-25px, -25px) scale(1)
    }
}